
/*
!important 样式覆盖
 */
table, td, th
{
    border:1px solid #f1eef7 !important;
}
table{
    border-collapse: collapse;
}
.context-table-first
{
    width:80px;
}
.context-table-title
{
    background: #e8e8e8;
    width:150px;
    font-weight: bold;
}
html,body{
    height: 100%;
    background: #e9e7e7;
}
.main{
    margin:0 auto;
    background: #f1f1f1;

}
.timelinecontainer{
    max-height:400px;
    overflow: hidden;
}
.unfold-field{
    display:block;
    position:absolute;
    font-size: 0;
    bottom:0;
    width:100%;
    height:124px;
    z-index: 3;
}
.unfold-field .unflod-field_mask {
    height: 78px;
    width: 100%;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,hsla(0,0%,100%,0)),to(#fff));
    background-image: linear-gradient(-180deg,hsla(0,0%,100%,0),#fff);
}
.unfold-field_text{
    cursor: pointer;
    width:100%;
    color: #406599;;
    height:46px;
    font-size: 0px;
    line-height: 46px;
    text-align: center;
    background:#fff;
}
.unfold-field_text span{
    display:inline-block;
    font-size: 16px;
    height:46px;
    line-height: 46px;
}
